*{
    margin:0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 20px;
    width: 60px;
    height: 60px;
    border-radius:10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0.2);
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;	
}
form .display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #219fff;

}
form input:hover{
   cursor: pointer;
}
form input:active{
transform: scale(1.05);
box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19),0 1.5px 1.5px rgba(0, 0, 0, 0.23);
}
form input.clear{
  color: #bf4d5d;
}
/* CSS for screens smaller than 300px */
 @media (max-width: 300px) {
/* CSS rules here */
}

/* CSS for screens between 350px and 900px */
  @media (min-width:350px) and (max-width:900px) {
/* CSS rules here */
}
/* CSS for screens larger than 901px */
@media (min-width: 901px) {
/* CSS rules here */
}
